# Basic Python Information

We are now beginning to learn Python. To lay a solid foundation in Python, we first need to learn about data types and data structures. Let's start our journey by learning about numbers.


In this section, we will learn:

1. Integer and Float Data Types
2. Basic Arithmetic Operations
3. Variable Declaration

## Integers

All the numbers we see in mathematics (negative, positive) are actually a data type in Python. Integers are referred to as "Integer" in English.

For example, -10, 25, 8, 0 are all integer values in Python.

## Floating-Point Numbers (Floats)

Like integers, floating-point numbers are also one of the types of numbers we see in mathematics. Floating-point numbers, just like in mathematics, are a data type in Python. Floating-point numbers, or also known as "Floats," are named so in English.

For example, 3.14, 7.132445, -11.78 are all floating-point (float) values in Python.

Now let's learn about basic mathematical operations in Python.

## Basic Math Operators

We are all familiar with the basic four operations (Addition, Subtraction, Multiplication, Division) from mathematics. Now let's see how these operations are done in Python.

In [4]:
# Adding
7 + 8

15

In [6]:
# Subtraction
100 - 20

80

In [7]:
# Multiply
8 * 9

72

In [8]:
# Division
20 / 4

5.0

We've observed our fundamental operations here. However, the final operation might have caused confusion. Why did the outcome appear as a float value? I believe it would be more accurate to examine these in the section on Mathematical Operators.

Now that we've reviewed these elementary operations, let's endeavor to understand variable assignment in Python.

## Variables and Variable Assignment

Variables are a crucial concept in programming languages. They are units that store values of data types. Let's create a variable in Python now.

In [13]:
x = 8

Now we created our valuable and it stored in x

In [14]:
x

8

If we print it, the value of our variable appears as 8. So, what will happen if we perform the following operation?

In [15]:
8 * 8 * 8

512

The result appeared as the cube of our variable's value. Now let's change the value of our variable. For this, we need to assign our new value to the variable using the "=" operator.

In [16]:
x = 5

In [17]:
x

5

Lets create 3 varuables

In [4]:
x = 3
y = 4
z = x + y

In [9]:
x

3

In [10]:
y

4

In [11]:
z

7

Here's how simple it is! Finally, let's talk about the points to consider when naming our variables.

1. Variable names cannot start with a number.
2. If a variable name consists of multiple words, there can be no spaces between them.
3. :'",<>/?|\()!@#$%^&*~-+ These symbols cannot be used in variable names. (Only the _ symbol can be used)
4. Reserved keywords in Python cannot be used as variable names. (e.g., while, not, etc.)

Of course! Here's an example demonstrating the points mentioned above:

```python
# Valid variable names
my_variable = 10
userAge = 25
user_age = 30
is_valid = True

# Invalid variable names
# 1. Variable name cannot start with a number
# 2. No spaces are allowed in variable names
# 3. Special characters (except underscore) are not allowed
# 4. Reserved keywords cannot be used as variable names
# example 1:
# 1user = 5
# example 2:
# user age = 25
# example 3:
# my-variable = 10
# example 4:
# while = True
``` 

In this example, `my_variable`, `userAge`, `user_age`, and `is_valid` are all valid variable names, while the examples commented out are invalid due to violating the rules mentioned.

 * In Python, there exists a practical technique for interchanging the values of two variables.

In [13]:
x = 5

In [15]:
y = 3

In [16]:
x

5

In [17]:
y

3

In [18]:
x,y = y,x

In [19]:
x

3

In [20]:
y

5

Lastly, in Python, there is a convenient technique for incrementing the value of a variable. Let's take a look at the following code.

In [21]:
x = 3

In [22]:
x

3

In [23]:
x = x + 1

In [24]:
x

4

In [25]:
x += 1

In [26]:
x

5

In [27]:
x -= 1

In [28]:
x

4

In [29]:
x /= 2
x

2.0

## Comment Lines

Comment lines are lines of explanation added to our programs. If comment lines are used in a program, these lines are not seen or executed by Python.

In [30]:
# Single Line Comment
print("John")

John

In [31]:
"""
Multiple Line Comment

"""
print("John")

John