# Data Type Conversions

In Python and many other programming languages, converting between data types is quite important. Sometimes converting a floating-point number to an integer, or even converting a string to an integer, is crucial when writing our programs. In this topic, we'll learn about such conversions.

## Converting Integer to Float

To convert an integer value to a floating-point number, we can use the float() function. Let's look at some examples.

In [1]:
a = 78
float(a)

78.0

In [2]:
float(-1)

-1.0

In [3]:
float(8)

8.0

## Converting Float to Integer

To convert a floating-point number to an integer, we can use the int() function. The result will be the integer part of the floating-point number. Let's look at some examples.

In [6]:
int(7.8)

7

In [5]:
int(3.14)

3

In [7]:
int(87.12384123)

87

In [11]:
x = 36
y = 9
int(x/y)

4

## Converting Numbers to Strings

To convert a number to a string, we can use the str() function. All digits or decimal points composing the number will be converted to individual characters.

In [16]:
a = 2131451214123
b = str(a)
b

'2131451214123'

In [17]:
len(b)

13

In [18]:
t = 3.14343
j = str(t)
j

'3.14343'

In [19]:
len(j)

7

## Converting Strings to Integers

When we want to convert a string to an integer, we can use the int() function. However, we should be a little careful. While doing the conversion, we must make sure that each character of the string is a number. Let's look at examples.

In [23]:
a = "121395183"
b = int(a)
b

121395183

In [22]:
a = "xcz<x213124"
b = int(a)
b

ValueError: invalid literal for int() with base 10: 'xcz<x213124'

## Converting Strings to Decimal Numbers

When we want to convert a string to a decimal number, we can use the float() function. However, we should be a little careful. While doing the conversion, we must make sure that the string complies with the decimal number format. Let's look at examples.

In [24]:
a = "3.14159572"
b = float(a)
b

3.14159572

In [25]:
a = "3.14.15.9572"
b = float(a)
b

ValueError: could not convert string to float: '3.14.15.9572'