# Lists
Now let's try to learn lists, which is our new data type. Lists are very similar to strings in their structure and are a very useful data type where they are used. Just like strings, they are indexed, fragmented, and there are methods that we can perform different operations on. However, lists have important differences from strings. As far as we know about strings, strings are an immutable data type. However, our lists are a mutable datatype.

We can store elements of any data type in a list. In this sense, it is similar to an ordered array. So what do we learn about this?

 1.Creating a list
 2.Indexing and Sharding
 3.Basic List Methods and Operations
 4.Nested Lists

## Creating a List

Lists can be created by enclosing data or values ​​within a [] square bracket.

In [1]:
liste =  [3,4,5,6,"Apple",3.14,5.324]
liste

[3, 4, 5, 6, 'Apple', 3.14, 5.324]

In [2]:
liste2 = [3,4,5,6,7,8,9]
liste2

[3, 4, 5, 6, 7, 8, 9]

In [3]:
empty_list = []
empty_list

[]

In [4]:
liste3 = [3,4,5,6,6,7,8,9,0,0,0]
len(liste3)

11

A string can be converted to a list with the help of the list() function.

In [6]:
s = "Hello"
list_s = list(s)
list_s

['H', 'e', 'l', 'l', 'o']

## Indexing and Sharding Lists

Indexing and partitioning lists is exactly the same as strings.

In [25]:
liste = [3,4,5,6,7,8,9,10]
liste

[3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
liste[0]

3

In [27]:
liste[4]

7

In [28]:
len(liste)

8

In [31]:
liste[7]

10

In [32]:
liste[-1]

10

In [20]:
liste[len(liste)-1]

10

In [33]:
liste[-len(liste)]

3

In [34]:
liste[:4]

[3, 4, 5, 6]

In [35]:
liste[1:5]

[4, 5, 6, 7]

In [36]:
liste[5:]

[8, 9, 10]

In [37]:
liste[::2]

[3, 5, 7, 9]

In [38]:
liste[::-1]

[10, 9, 8, 7, 6, 5, 4, 3]

## Basic List Methods and Operations

In this section, we will learn the basic operations we can perform on lists and some basic methods. We will see many more methods of lists later in the course.

We can add a list together just like strings.

In [48]:
liste1 =  [1,2,3,4,5]
liste2 =  [6,7,8,9,10]
liste1 + liste2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

To add an element to a list, we can follow the procedure below.

In [49]:
liste = [1,2,3,4]
liste =  liste + ["John"]
liste

[1, 2, 3, 4, 'John']

In [50]:
liste[0] = 10
liste

[10, 2, 3, 4, 'John']

In [51]:
liste[:2] = [40,50]
liste

[40, 50, 3, 4, 'John']

In [52]:
liste = [1,2,3,4,5]
liste * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [53]:
liste

[1, 2, 3, 4, 5]

In [54]:
liste = [1,2,3,4,5]
liste = liste * 3
liste

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

Now let's look at some basic list methods. Lists are quite flexible compared to arrays in other programming languages. They do not have a specific size and adding and subtracting is very easy.

### append method

The append method allows us to add the given value to the list.

In [58]:
liste = [3,4,5,6]
liste.append(7)
liste

[3, 4, 5, 6, 7]

In [59]:
liste.append("Michael")
liste

[3, 4, 5, 6, 7, 'Michael']

### pop method

This method discards the element at the last index of the list if we do not give a value to it, if we do so, it discards the element at the index corresponding to the value we give, from the list and prints the discarded element on the screen.

In [67]:
liste = [1,2,3,4,5]
liste.pop()

5

In [68]:
liste

[1, 2, 3, 4]

In [69]:
eleman = liste.pop(2)
eleman

3

In [70]:
liste

[1, 2, 4]

In [71]:
liste.append("Smith")
liste

[1, 2, 4, 'Smith']

In [72]:
liste.pop()

'Smith'

In [73]:
liste

[1, 2, 4]

Actually, it would be useful to say it while the time has come. If we give an index that does not exist while accessing the list elements, Python will give us an error.

In [75]:
liste = [12,54,67,67]
liste[50]

IndexError: list index out of range

### sort method

The sort method allows us to sort the elements of the list. Let's look at its usage now.

In [77]:
liste = [34,1,56,334,23,2,3,19]
liste.sort() # ascending order
liste

[1, 2, 3, 19, 23, 34, 56, 334]

In [78]:
liste.sort(reverse = True) # descending order
liste

[334, 56, 34, 23, 19, 3, 2, 1]

In [79]:
liste = ["Java","C++","Python","PHP"]
liste.sort()
liste

['C++', 'Java', 'PHP', 'Python']

In [80]:
liste.sort(reverse = True)
liste

['Python', 'PHP', 'Java', 'C++']

## Nested Lists

It is possible to contain another list inside a list. These are called nested lists in Python. This type of feature is very useful in tree structures or matrix structures in Python.

In [82]:
liste1 = [1,2,3]
liste2 = [4,5,6]
liste3 = [7,8,9]

new_liste = [liste1,liste2,liste3]
new_liste

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Now, let's see how to reach the first element of the 2nd list.

In [84]:
new_liste[1][0]

4